aiocache==0.12.2
aioredis==2.0.1
asyncpg==0.29.0
email_validator==2.1.0.post1
msgpack==1.0.7
sanic==23.12.0
sanic-jinja2==2022.11.11
sanic-session==0.8.0
Sanic-WTF==0.7.0
sqlalchemy==2.0.25
requests==2.31.0
WTForms==3.1.1
