aiocache==0.12.3
asyncpg==0.30.0
email_validator==2.3.0
msgpack==1.1.2
sanic==25.3.0
sanic-jinja2==2022.11.11
sanic-session==0.8.0
Sanic-WTF==0.7.0
sqlalchemy==2.0.44
redis==7.0.1
requests==2.32.5
WTForms==3.2.1
