aiocache==0.10.1
aioredis==1.2.0
gino==0.8.3
sanic==19.6.2
sanic-jinja2==0.7.5
sanic-session==0.5.6
Sanic-WTF==0.5.0
pytest==5.0.1
pytest-cov==2.7.1
pytest-sanic==1.0.0
coverage==4.5.3
requests==2.22.0
WTForms==2.2.1
