.no-padding {
  padding: 0!important;
}

.no-margin {
  margin: 0!important;
}

.no-br-radius {
  border-radius: 0!important;
}

.d-inline-block {
  display: inline-block!important;
}

.text-uppercase {
  text-transform: uppercase!important;
}

.h4 {
  font-size: 2.28rem;
}

.my-5 {
  margin-bottom: 3rem!important;
  margin-top: 3rem!important;
}
.my-6 {
  margin-bottom: 3.6rem!important;
  margin-top: 3.6rem!important;
}


.no-margin .select-wrapper .select-dropdown {
  margin: 0;
}

.user-search label {
  cursor: pointer;
}
.user-search input[type=search] ~ .material-icons {
	top: 10px;
}

.table-list td,
.table-list th {
  padding: 15px;
}
.actions-tr {
  width: 120px;
}