{% extends 'base.html' %}

{% block title %}Users{% endblock %}

{% block body %}
  <!-- Modal Structure -->
  <div id="delete-modal" class="modal">
    <div class="modal-content">
      <h4>Delete this user?</h4>
      <p>The user will be deleted immediately. You can't undo this action.</p>
    </div>
    <div class="modal-footer">
      <a href="#" class="modal-action action-delete modal-close waves-effect waves-green btn-flat">Delete</a>
    </div>
  </div>

  <div class="row">
    <div class="col s4">
      <a class="btn-floating waves-effect waves-light red" href="/user/"><i class="material-icons">add</i></a>
      <div class="user-search input-field d-inline-block no-margin">
        <input id="search" class="no-margin" type="search" required value="{{ search }}" placeholder="search">
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons close">close</i>
      </div>
    </div>
    <div class="col s6"><h1 class="no-margin text-uppercase h4">Users</h1></div>
    <div class="col s2">
      <div class="input-field no-margin">
        <select class="items-per-page">
          <option value="" disabled>Users per page</option>
          <option value="10"{% if items_per_page == 10 %} selected{% endif %}>10</option>
          <option value="15"{% if items_per_page == 15 %} selected{% endif %}>15</option>
          <option value="20"{% if items_per_page == 20 %} selected{% endif %}>20</option>
        </select>
      </div>
    </div>
  </div>

  <table class="table-list white bordered">
    <thead class="grey darken-2">
      <tr>
        <th class="no-br-radius white-text">Name</th>
        <th class="no-br-radius white-text">E-mail</th>
        <th class="no-br-radius white-text">Status</th>
        <th class="no-br-radius white-text actions-tr">Actions</th>
      </tr>
    </thead>

    <tbody>
      {% for user in users %}
      <tr id="user-{{ user.id }}">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td class="{% if user.status == '1' %}green-text{% else %}red-text{% endif %}">{{ user.status_label }}</td>
        <td>
          <a class="btn-floating waves-effect waves-light green" href="/user/{{ user.id }}"><i class="material-icons">edit</i></a>
          <a class="user-delete-dialog btn-floating waves-effect waves-light red" data-uid="{{ user.id }}" href="/user/{{ user.id }}/delete"><i class="material-icons">delete</i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'pager.html' %}
{% endblock %}
